<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB9s50q0bkqOpq8sjNJIvMLWN8tcWetGSo</string>
	<key>GCM_SENDER_ID</key>
	<string>513388785973</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>so.engage.ios.Demo</string>
	<key>PROJECT_ID</key>
	<string>engage-demo-80be5</string>
	<key>STORAGE_BUCKET</key>
	<string>engage-demo-80be5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:513388785973:ios:b81a2d7e4582b7d2671c7c</string>
</dict>
</plist>